html {
    scroll-behavior: smooth;
}

.gradient-background {
    height: 150vh;
    background: linear-gradient(to right, #01415a, #00a0a3);
}

.header {
    padding-top: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 300%;
    font-family: 'Comfortaa', sans-serif;
}


::placeholder {
    color: rgb(255, 255, 255);
}

.input_text {
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
}

.input_data {
    font-size: 300%;
    text-align: center;
    margin-top: 5%;
    margin-left: 37%;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 27%;
    padding: 10px;
    font-family: 'Comfortaa', sans-serif;
}

.input_data:hover {
    box-shadow: 0 0 20px rgb(223, 223, 223);
}

.result_header {
    padding-top: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 200%;
    font-family: 'Comfortaa', sans-serif;
}

.result {
    font-size: 150%;
    text-align: center;
    margin-top: 1%;
    margin-left: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    height: 30%;
    word-wrap: break-word;
    font-family: 'Comfortaa', sans-serif;
}

.buttons {
    margin-top: 2%;
    margin-left: 28%;
    white-space: normal;
    display: flex;
    gap: 30%;
}

.button1 {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;

}

.button2 {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
}

.button2:hover {
    box-shadow: 0 0 20px rgb(223, 223, 223);
}

.button1:hover {
    box-shadow: 0 0 20px rgb(223, 223, 223);
}

.group_list{
    padding-top: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    font-family: 'Comfortaa', sans-serif;
}

.programm_info{
    padding-top: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 100%;
    font-family: 'Comfortaa', sans-serif;
}

.buttondiv1{
    text-align: center;
    margin: 5px;
}

.buttondiv2{
    text-align: center;
    margin: 5px;
}

li{
    padding-top: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 150%;
    font-family: 'Comfortaa', sans-serif;
}

.exit{
    text-align: center;
    margin: 5px;
    display: flex;
    margin-left: 43.5%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
}

.header_info{
    padding-top: 5%;
    text-align: left;
    color: #ffffff;
    font-size: 200%;
    font-family: 'Comfortaa', sans-serif;
    margin: 10px;
}